.upperPart {
    width: 435px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0px;
    /* background-color: red; */
}

.score {
    font-size: 35px;
    padding-bottom: 12px;
    color: #FFD2D7;
}

.speed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    /* padding-top: 10px; */
    /* border: #322653 2px solid; */
    /* border-radius: 35px; */
}

.boardContainer {
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100Vh;
    flex-direction: column;
    margin: auto;
    width: 100vh;
}

.play-pause-button {
    background-color: #8062D6;
    border: none;
    color: #322653;
    width: 105px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 7px;
    border-radius: 35px;
}


.speedText {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #FFD2D7;
    /* border-left: #322653 solid 1px; */
    /* background-color: red; */
    /* padding: 0%; */
    margin: 0%;
}

.board {
    background-color: #9288F8
}



.row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cell {
    min-width: 35px;
    min-height: 35px;
    border: 1px solid black;

}

.cellRed {
    min-width: 35px;
    min-height: 35px;
    border: 1px solid black;
    background-color: #634f9b
}

.cellGreen {
    min-width: 35px;
    min-height: 35px;
    border: 1px solid black;
    background-color: #FFD2D7
}

.gameStartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100Vh;
    flex-direction: column;
    margin: auto;
    width: 100vh;
}

.gameStartButton {
    background-color: #5c469b;
    border: none;
    color: #FFD2D7;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 7px;
    border-radius: 35px;
    cursor: pointer;
}


.snakeImg {
    max-width: 200px;
    max-height: 200px;
}

.gameOverContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100Vh;
    flex-direction: column;
    margin: auto;
    width: 100vh;
}

.gameOverText {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color: #FFD2D7;
    margin: 0%;
}

.gameOverScore {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    color: #FFD2D7;
    margin-top: 15px;
}

.gameOverMessage {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #FFD2D7;
    margin: 0%;
    margin-bottom: 15px;
}

.restartButton {
    background-color: #5c469b;
    border: none;
    color: #FFD2D7;
    width: 105px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 7px;
    border-radius: 35px;
    cursor: pointer;
}

.fullscreen-enabled .my-component {
    background: transparent;
}